{%extends 'base.html'%}

{% block content %}
<body >
        {% for post in posts %}
        {{ POST}}
        <h1 style="color:white;text-align: center;text-decoration: underline;">{{post.neighbourhood.neighbourhood_name}} Neighbourhood.</h1>
        <div class="container-fluid">
        <div class="well"style="background-color:white;margin-left:26%;margin-right:16%;opacity:0.9;margin-top:2%;">
                <h3 style="padding-left:5px;padding-right:20px;margin-top:-10px;margin-bottom:-13px;font-weight:bolder;"><img style="width:60px;height:60px;border-radius:118px" src="{{post.profile.profile_pic.url}}">{{post.profile.name}}</h3>
                <hr style="background-color: black;">                
                <a href="{% url 'single_photo' post.id %}"><img class="img-responsive"style="width:950px;height:750px;margin-top:-7px;" src="{{post.post.url}}"></a>
                <h2 style="text-decoration: underline;">Caption</h2>
                <h3>{{post.post_caption}}.</h3>
        </div>
        <div class="well" style="float:right;width:15%;margin-top:-60%;margin-left:0%;text-align:left;font-weight:bold;opacity:0.7;">
            <h2 style="text-decoration: underline;">Neighbourhood Details</h2>
            <h3>{{post.neighbourhood.neighbourhood_name}} Neighbourhood.</h3>
            <h3>Occupants Count:"{{post.neighbourhood.occupants_count}}"</h3>
            <h3>Location:"{{post.neighbourhood.neighbourhood_location}}"</h3>
        </div>
        <div class="well" style="float:left;width:25%;margin-top:-60%;margin-left:0%;text-align:center;font-weight:bold;opacity:0.7;">
            <h2 style="text-align:center;text-decoration: underline;margin-top:-0.2%;font-weight: bold;"> Hood Helpline contacts</h2>
            <h4>+254-7892-0089 <img src="https://orig00.deviantart.net/f8d7/f/2011/258/1/e/police_logo_by_erinnart-d49xasm.png" style="width:30%;border-radius:50px;"></h4>
            <h4>+254-9982-0900 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs-qAVtv1776CICwuDvzvGWvXv8NrM9WOTvTpHqR23Db1mR2Pl" style="width:30%;border-radius:50px;"></h4>
        </div>
        </div>
    </body>
{% empty %}
    <div class="well"style="background-color:white;margin-left:10%;margin-right:35%;opacity:0.9;margin-top:6%;padding-bottom:700px;" >
            <h2 class="text-center">There Are No images</h2>
          </div>
{% endfor %}
{% endblock %}