{%extends 'base.html'%}
{% load staticfiles%} 
{% load bootstrap3 %} 
{%block content%}
<div class="container">
    <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
        <form method="post" enctype="multipart/form-data"style="margin-top:20%;margin-bottom:50%;color:white;">
            {% csrf_token %} {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary btn-sm" value="Submit">
            <input type="hidden" name="next" value="{{next}}">
            <a href="{% url 'home' %}">
                    <button type="button" name="button" class="btn btn-primary btn-md  pull-right  ">Back.</button>
                </a>
        </form>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
</div>
{% endblock %}