{%extends "registration/base.html"%} {% load bootstrap3 %} {% block content %}
{% load static %}


<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">

<body style="font-family: 'Concert One', cursive; font-size:20px;">
<div class="container">
  
<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">

    <div>
      <div class="container" style="margin-bottom:5%"> 
        <!-- Empty div -->
        <div></div>
        {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
        {% endif %}
            <div class="row">
               <div class="col-md-6">

            </div>
              <div class="col-md-5">
                <div class="panel panel-default" height="20">
          <div class="card">
          <div class="card-header">
            <h1 class="text-center" style="color:rgb(7, 3, 3); font-size:60px;"><strong><em>NEIGHBOURHOOD-WATCH</em><strong></h1>
            <h3 class="text-center">Sign Up To Enjoy Our Services</h3>
           </div>
          <div class="card-block">
            <form style="color:rgb(2, 1, 1); font-size:10px;"action="/accounts/register/" method="post">
              {% csrf_token %} {% bootstrap_form form %}
              <div class="form-group">
                <input style="font-size:15px;" type="submit" class="btn btn-primary btn-sm" value="Sign Up" action="registration/">
              </div>
              <p>Have an account?</p><a style="color:rgb(78, 12, 15);" href="/accounts/login/">Login</a>

              <input type="hidden" name="next" value="{{next}}">
            </form>
          </div>

        </div>
        </div>
        </div>

      
      <div></div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</body> 